@{
    ViewBag.Title = "Novartis Hospital";
    
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <a href="https://www.novartis.com/">Learn more</a>



    <p>No of employees<a asp-area="" asp-controller="Home" asp-action="nofusers">Click Here</a></p>
   
</div>
